---
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="wrapper">
      <div class="slogans">
        <!-- <div class="overlay"> -->
        <a class="slogan" id="learn-img" href="">
          <h2 class="slogan-text">LEARN</h2>
        </a>
        <!-- </div> -->
        <a class="slogan" id="build-img" href="">
          <h2 class="slogan-text">BUILD</h2>
        </a>
        <a class="slogan" id="compete-img" href="">
          <h2 class="slogan-text">COMPETE</h2>
        </a>
      </div>

      <div class="mid">
        <a class="join-btn" href="">
          JOIN THE TEAM
        </a>
      </div>

      <div class="teams">
        <div id="sumobot" class="team">
          <div class="team-text-box">
            <h2 class="team-text">SUMOBOT</h2>
            <h2 class="team-text">TEAM</h2>
          </div>
        </div>

        <div id="rover" class="team">
          <div class="team-text-box">
            <h2 class="team-text">ROVER</h2>
            <h2 class="team-text">TEAM</h2>
          </div>
        </div>
      </div>

      <div class="final"></div>
      <div class="push"></div>
    </div>

    {% include footer.html %}
  </body>
</html>
