@media screen and (max-width: 830px) {
  #header {
    height: 2.5em;
    line-height: 2.5em;
  }

  #header h1 {
    text-align: left;
    position: relative;
    padding-left: 1em;
    left: 0;
    top: 0;
    height: 2.5em;
    line-height: 2.5em;
  }

  #header h1 a {
    font-size: 1em;
  }

  #header nav {
    position: relative;
  }

  .nav-links {
    display: flex;
    position: fixed;
    background: white;
    /* margin: 0 auto; */
    height: 100vh;
    width: 100%;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    clip-path: circle(0px at 90% -10%);
    -webkit-clip-path: circle(0px at 90% -10%);
    transition: all 1s ease-out;
  }

  .nav-links.open {
    clip-path: circle(800px at 90% -10%);
    -webkit-clip-path: circle(800px at 90% -10%);
  }

  .nav-link {
    padding-bottom: 35px;
  }

  .line {
    width: 30px;
    height: 3px;
    background: black;
    margin: 5px;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 1%;
    top: -35%;
    transform: translate(-5%, -50%);
  }
}
