<header id="header">
  <h1>York University Robotics Society</h1>
  <nav>
    <div class="hamburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <ul class="nav-links">
      <li class="nav-link"><a href="#intro">Home</a></li>
      <li class="nav-link"><a href="#one">About us</a></li>
      <li class="nav-link"><a href="#work">Teams</a></li>
      <li class="nav-link"><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</header>
