footer {
  box-sizing: border-box;

  background-color: black;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

#copyright {
  color: #313131;
  display: inline-block;
  font-size: 1vw;
}

.social {
  display: inline-block;
}

.social-icon {
  width: 3vw;
  height: auto;
  margin-left: 10px;
}

.credits {
  color: #313131;
  margin-left: 30px;
  font-size: 1vw;
}

html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}

.footer,
.push {
  height: 50px;
}