@media only screen and (max-width: 1000px) {
  .blog-posts {
    display: none;
  }
}

@media only screen and (min-width: 1140px) {
  .nav-links-responsive {
    // display: none;
  }
}

@media only screen and (max-width: 1140px) {
  .line {
    width: 50px;
    height: 2px;
    background: white;
    margin: 8px;
  }

  .hamburger {
    position: relative;
    cursor: pointer;
    right: 3%;
    // top: 6%;
    // transform: translate(-5%, -50%);
    z-index: 150;
    // margin-top: 1vw;
    // margin-left: auto;
    margin-top: 3vw;
  }

  .nav-links {
    display: none;
  }

  .nav-links-responsive {
    display: flex;
    position: fixed;
    background: rgba($color: #000000, $alpha: 0.8);
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    margin: 0;
    padding: 0;
    clip-path: circle(100px at 90% -50%);
    -webkit-clip-path: circle(100px at 90% -50%);
    transition: all 1s ease-out;
  }

  .nav-links-responsive.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
  }

  .nav-link-responsive {
    list-style: none;
    margin-bottom: 8vw;
  }

  .nav-link-responsive > a {
    color: white;
  }
}

@media only screen and (max-width: 650px) {
  .slogans {
    display: block;
  }

  .slogan {
    width: 100%;
    height: 50vw;
  }

  .slogan-text {
    font-size: 10vw;
  }

  #learn-img {
    background-size: 100vw;
    background-position-y: 40%;
  }

  #build-img {
    background-size: 100vw;
  }

  #compete-img {
    background-size: 100vw;
  }

  .teams {
    display: block;
  }

  .team {
    width: 100%;
  }

  .team-text {
    font-size: 10vw;
  }

  #sumobot {
    background-size: 150vw;
  }

  #rover {
    background-size: 150vw;
  }
}

@media only screen and (max-width: 950px) {
  header > nav > div > h1 {
    display: none;
  }

  header > nav > div > img {
    width: 8vw;
  }
}
