/* 
=========================
SLOGAN
=========================
*/

body {
  -webkit-backface-visibility: hidden;
}

.slogans {
  display: flex;
}

#learn-img {
  background-image: url(".././img/learn.jpeg");
  background-size: 40vw;
  border-right: 1px gray solid;
}

/* #learn-img:hover {
    background-image: url(".././img/learn.jpeg");
    transition: background-image 2s linear;
    /* -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden; 
  } */

#build-img {
  background-image: url(".././img/build.jpeg");
  background-size: 41vw;
  border-right: 1px gray solid;
  /* border-right: 1px gray solid;
    border: solid 150px #f008;
    box-sizing: border-box;
    transition: 1s ease-out; */
}

.overlay:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  transition: 0.5s;
}

.overlay:hover:after {
  opacity: 0;
}

#build-img:hover {
  border-color: #0000;
}

#compete-img {
  background-image: url(".././img/compete.jpeg");
  background-size: 35vw;
  background-position: 50% 50%;
}

.slogan {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 20vw;
  width: auto;
  width: 33.33%;
  background-size: contain;
  text-decoration: none;
  position: relative;
}

.slogan-text {
  display: inline-block;
  /* position: relative; */
  /* text-align: center; */
  /* top: 50px; */
  color: white;
  /* font-size: 50px; */
  font-size: 6vw;
  /* vertical-align: middle; */
  /* z-index: 1000; */
  /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.slogan-link {
  display: inline;
}

/* 
  =========================
  MID
  =========================
  */

.mid {
  background-color: black;
  height: 120px;
  display: flex;
  border-top: 1px gray solid;
  border-bottom: 1px gray solid;
}

/* 
  =========================
  TEAMS
  =========================
  */

.teams {
  display: flex;
}

.team {
  width: 50%;
  /* display: inline-block; */
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  /* height: 400px; */
  height: 60vh;
}

#sumobot {
  background-image: url(".././img/sumobot.jpeg");
  background-size: 55vw;
  border-right: 1px gray solid;
}

#rover {
  background-image: url(".././img/rover.jpeg");
  background-size: 80vw;
  background-position: 50% 50%;
}

.team-text-box {
  position: relative;
  text-align: center;
  /* top: 150px; */
  font-size: 50px;
  color: white;
}

.team-text {
  padding: 0;
  margin: 0;
}

/* 
  =========================
  FINAL
  =========================
  */

.final {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(".././img/circ.jpeg");
  height: 50vw;
  background-position-y: -5vw;
  background-size: 120vw;
  border-top: 1px gray solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px gray solid;
}

.join-btn {
  display: inline-block;
  /* text-align: center; */
  background-color: rgba($color: #c4c4c4, $alpha: 0.5);
  color: black;
  margin: 0 auto;
  padding: 1vh 10vw;
  //   border-radius: 10em;
  text-decoration: none;
}

.join-btn-parent {
  /* padding-bottom: 40vw; */
  font-size: 2vw;
  margin-bottom: auto;
  margin-top: 25px;
}

.final > p {
  color: white;
  /* margin-bottom: 40vw; */
}

.blog-posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* column-gap: 100px; */
  grid-column-gap: 5vw;
  /* justify-content: space-between; */
  margin: 0 5vw;
}

.blog-post {
  padding: 10px 5px 5px 20px;
  background-color: rgba(24, 24, 24, 0.5);
}

.blog-title {
  color: white;
}

.blog-body {
  color: white;
}

.blog-link {
  color: white;
}

.some-text {
  display: lock;
  text-align: left;
  margin-right: auto;
  margin-left: 5vw;
}

.some-text {
  color: white;
}

.some-text > p > a {
  color: white;
}

.text-and-blog-posts {
  margin-bottom: 5vw;
}
