.team.on-team-page {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  height: 44vw;
  text-decoration: none;
}

#sumobot.on-team-page {
  background-size: 80vw;
  border-right: 1px gray solid;
}

#rover.on-team-page {
  /* background-image: url(".././img/rover.jpeg"); */
  background-size: 85vw;
  background-position: 50% 50%;
}

.team-text-box-p {
  position: relative;
  text-align: center;
  font-size: 50px;
  color: white;
}

.team-text-p {
  padding: 0;
  margin: 0;
}

.row {
  display: flex;
  height: 500px;
}

.text {
  padding: 10px 40px 40px 40px;
  width: 50%;
  color: white;

  h2 {
    font-size: 50px;
  }

  p {
    font-size: 25px;
  }

  background-color: black;
}

.pic {
  width: 50%;
}

#sumobot-pic-1 {
  background-image: url(".././img/sumobot.jpeg");
}
