<header id="header">
  <div class="brand">
    <img id="logo" src="../../img/logo-short.png" alt="" />
    <h1>York University Robotics Society</h1>
  </div>

  <nav>
    <div class="hamburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <ul class="nav-links">
      <li class="nav-link">
        <a href="/">Home</a>
      </li>
      <li class="nav-link" id="video-nav-link">
        <a href="/#video">Promotional Video</a>
      </li>
      <li class="nav-link">
        <a href="{{ site.join_now_link }}">Join Us</a>
      </li>
      <li class="nav-link">
        <a href="/#about">About Us</a>
      </li>
      <li class="nav-link">
        <a href="/#teams">Teams</a>
      </li>
      <!-- <li class="nav-link">
        <a href="{{ site.url }}/index.html#contact">Contact</a>
      </li> -->
    </ul>
  </nav>
</header>
