<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, user-scalable=no"
  />
  <meta http-equiv="Content-Security-Policy" content="default-src 'self';" />
  <meta http-equiv="X-Content-Type-Options" content="nosniff;" />
  <meta http-equiv="X-Frame-Options" content="SAMEORIGIN;" />

  <link rel="stylesheet" href="assets/css/main.min.css" />
  <noscript
    ><link rel="stylesheet" href="assets/css/noscript.min.css"
  /></noscript>
  <link rel="shortcut icon" href="assets/img/logo-short.ico" />
</head>
